<script>
    var data = <%= raw @stats[:graphable_data].to_json %>;
</script>
<div class="admin small-12 medium-10 medium-offset-1">
    <section class="row align-spaced medium-unstack">
        <div class="small-12 medium-8 columns">
            <h1>Admin Dashboard</h1>
            <p>As an admin, you can help us make sure that the transcription work of the crowds is up to snuff.</p>
            <h2>You can do one of two things:</h2>
            <p>Verify that the transcription is correct.</p>
            <p>Approve a label once you deem that it has been fully and accurately transcribed.</p>
        </div>
        <div class="small-12 medium-5 columns project-progress step-by-step">
            <h1>Project Progress</h1>
            <div id="chart"></div>
            <ul>
              <li><span style="background-color:#039317"><%= @stats[:completion_data][:marks] %></span>
                  Marks</li>
                  <li><span style="background-color:#921377"><%= @stats[:completion_data][:transcribes] %></span>
                    Transcriptions</li>
                    <li><span style="background-color:#214BB5"><%= @stats[:completion_data][:verifies] %></span>
                        Verified transcriptions</li>

            </ul>
        </div>
    </section>

    <section>

        <h2>Verify Labels</h2>
        <% if @verifies.count > 0 %>
        <p>Please verify the transcriptions or descriptions on each of the following labels.</p>

        <div class="row small-up-2 medium-up-4 large-up-5">
            <% for subject in @verifies %>
            <div class="column">
                <a class="verify thumbnail" href="/verify/<%= subject.id %>">
                    <img src="<%= subject.location['thumbnail'] %>" width="200" height="200"/>
                </a>
                <!--
            <form action="admin/subjects/status/toggle" method="post">
                <input type="hidden" name="subject_set_id" value="<%= subject.subject_set_id %>"/>
                <input type="submit" name="Set as Done"/>
            </form>
          -->
            </div>
            <% end %>
        </div>
        <% else %>
        <p>There are no unverified transcriptions at this time.</p>
        <% end %>

        <h2>Approve</h2>
        <% if @approves.count > 0 %>
        <p>Please approve the transcriptions and descriptions that have already been verified for each of the following labels.</p>
        <div class="row small-up-2 medium-up-4 large-up-5">
            <% for subject in @approves %>
            <div class="column">
                <a class="verify thumbnail" href="/approve/<%= subject.meta_data['identifier'] %>">
                    <img src="<%= subject.location['thumbnail'] %>" width="200" height="200"/>
                </a>
            </div>
            <% end %>
        </div>
        <% else %>
        <p>There are no labels awaiting approval right now.</p>
        <% end %>
    </section>
