<section class="label-card medium-10 medium-offset-1 medium-unstack">
    <h2>About the Label</h2>
    <!--    <h1>Label <%= @subject.meta_data['identifier'] %></h1> -->
    <section class="row">
        <% if @subject.meta_data['category'] %>
        <div class="small-12 medium-7 large-8 medium-unstack columns">
            <dl>
                <dt>Category</dt>
                <dd><%= @subject.meta_data['category'] %></dd>
            </dl>
        </div>
        <% end %>
        <div class="small-12 medium-5 large-4 medium-unstack columns">
            <% if @subject.status == "done" %>
            <p>We’re all marked up for now. In the meantime, why don’t you
                <a href="/browse">browse</a>
                some of our favorite labels?</p>
        <% else %>
            <p>This label still needs your help. Mark the elements on this label for transcription.</p>
            <button type="button" class="button" onClick="window.location='/mark?subject_set_id=<%= @subject.subject_set_id %>&selected_subject_id=<%= @subject.id %>'">Mark This Label</button>
        <% end %>
        </div>
      </section>
            <section class="row">
  <div class="small-12 medium-unstack columns">
    <!-- Meant to go to the specific label's blog post
    <h3>The story behind this label</h3>
    <p><a href="">Amerine and the Bohemian Club</a></p>
     -->
  </div>
</section>
      <section class="row">
    <div class="small-12 medium-7 large-8 medium-unstack columns">
        <h3>Tell us your story</h3>
        <p>Are you a wine expert? Do you have family history with this label?
            <a href="mailto:labelthis@ucdavis.edu">Send us your story</a>!</p>
    </div>
    <div class="small-12 medium-5 large-4 medium-unstack columns">
        <h3>Share this label</h3>
        <div class="row align-spaced">
            <a class="webicon facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//labelthis.lib.ucdavis.edu/view/<%= @subject.meta_data['identifier'] %>">Facebook</a>
            <a class="webicon pinterest" href="https://pinterest.com/pin/create/button/?url=https%3A//labelthis.lib.ucdavis.edu/view/<%= @subject.meta_data['identifier'] %>?media=&description=A%20historic%20wine%20label%20from%20the%20Maynard%20Amerine%20Collection%20at%20UC%20Davis%20Library">Pinterest</a>
            <a class="webicon twitter" href="https://twitter.com/home?status=Check%20out%20this%20historic%20wine%20label%20from%20the%20collection%20at%20UC%20Davis%20https%3A//labelthis.lib.ucdavis.edu/view/<%= @subject.meta_data['identifier'] %>">Twitter</a>
        </div>
    </div>
</section>
</section>
