<!DOCTYPE html>
<html>
<head>
  <title>Scribe Admin</title>
  <%= stylesheet_link_tag    "admin/all", media: "all" %>
  <%= javascript_include_tag "admin/all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= render 'admin/partials/head.html.erb' %>
<% end %>
 <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

<div id="admin-content">
  <%= yield %>
</div>

</body>
</html>
