<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <title><%= current_project && current_project.title ? current_project.title: 'Scribe' %></title>

  <% if current_project %>
    <meta property="og:title" content="<%= current_project.title %>"/>
    <meta property="og:description" content="<%= current_project.summary %>"/>
    <meta property="og:image" content=""/>
    
    <meta name="twitter:title" content="<%= current_project.title %>"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="<%= current_project.summary %>"/>
    <meta name="twitter:image" content="" />

    <meta name="description" content="<%= current_project.summary %>"/>
    <meta name="author" content="<%= current_project.author %>"/>
    <meta name="keywords" content="<%= current_project.keywords %>"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <% end %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/label_this/css/app.css">

  <% if current_project && current_project.favicon  %>
    <link rel="shortcut icon" href="<%= current_project.favicon %>">
  <% end %>

  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=default,es6,Promise,fetch&amp;flags=gated"></script>
  <%= javascript_include_tag "application" %>
  <script src='/js/custom.js' charset="utf-8"></script>

  <%= csrf_meta_tags %>
  </head>

<body>

<noscript>
  <div class="browser-warning noscript">
    <h1>Hi!</h1>
    <p><%= current_project && current_project.title ? current_project.title: 'Scribe' %> requires JavaScript.</p>
    <p>Looks like JavaScript is disabled in your browser. <i class="fa fa-frown-o"></i></p>
    <p><a href="http://www.enable-javascript.com/" target="_blank">
      Enable JavaScript to participate <i class="fa fa-smile-o"></i></a></p>
  </div>
</noscript>

<%= yield %>

</body>
</html>
