<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <title><%= current_project && current_project.title ? current_project.title: 'Scribe' %></title>
  
  <% if @subject %>

    <meta name="og:title" content="Label <%= @subject.meta_data['identifier'] %>"/>
    <meta name="og:description" content="<%= @subject.meta_data['category'] %>"/>
    <meta name="og:image" content="<%= @subject.location['standard'] %>"/>
    
  <% elsif current_project %>
    <meta name="og:title" content="<%= current_project.title %>"/>
    <meta name="og:description" content="<%= current_project.summary %>"/>
    <meta name="og:image" content="/images/label-this-title-image.svg"/>
    
  <% end %>
    
  <script src="https://use.typekit.net/hob5nwu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>    

  <%= stylesheet_link_tag "application", media: "all" %>
  
  <link rel="stylesheet" href="/css/app.css">

  <% if current_project && current_project.favicon  %>
    <link rel="shortcut icon" href="<%= current_project.favicon %>">
  <% end %>

  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=default,es6,Promise,fetch&amp;flags=gated"></script>
  
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li>
            <a href="/">Label This</a>
          </li>          
          <li>
            <a href="/browse/1#/browse/1">Browse</a>
          </li>
          <li>
            <a href="#/mark">Mark</a>
          </li>
          <li>
            <a href="#/transcribe">Transcribe</a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <a href="">About the Project</a>
          </li>
          <li>
            <a target="_blank" href="">Blog</a>
          </li>
	  <% if user_signed_in? %>
	  <li><a href="/admin/">Admin<a/></li>
	  <% else %>
	  <li><%= link_to 'Log in', new_user_registration_path %></li>
	  <% end %>
        </ul>
      </div>
    </nav>
  </header>
  
  <%= yield %>

  <div id="react-target"></div>
</body>
</html>
